In [30]:
 import pandas as pd

In [ ]:
import numpy as np
# a series is a primary pandas
# creating a series with the help of numpy
pd.Series(np.array([1,2,3,4]),index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
li=[1,2,3,4,5,6,7,8,9]
li_idx=['a','b','c','d','e','f','g','h','i']
pd.Series(li,index=li_idx)
even=li[li%2==0]
print(even)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [ ]:
import pandas as pd


s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])


even_numbers = s[s % 2 == 0]

print("Original Series:")
print(s)

print("Even Numbers:")
print(even_numbers)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
Even Numbers:
1     2
3     4
5     6
7     8
9    10
dtype: int64

In [ ]:
# make a series of the 10 to 100 number. filter out
data = [x for x in range(10, 101)]
my_data = pd.Series(data)
even_numbers = my_data[my_data % 2 == 0]
print(even_numbers)

0      10
2      12
4      14
6      16
8      18
10     20
12     22
14     24
16     26
18     28
20     30
22     32
24     34
26     36
28     38
30     40
32     42
34     44
36     46
38     48
40     50
42     52
44     54
46     56
48     58
50     60
52     62
54     64
56     66
58     68
60     70
62     72
64     74
66     76
68     78
70     80
72     82
74     84
76     86
78     88
80     90
82     92
84     94
86     96
88     98
90    100
dtype: int64

In [ ]:
even_numbers+5

0      15
2      17
4      19
6      21
8      23
10     25
12     27
14     29
16     31
18     33
20     35
22     37
24     39
26     41
28     43
30     45
32     47
34     49
36     51
38     53
40     55
42     57
44     59
46     61
48     63
50     65
52     67
54     69
56     71
58     73
60     75
62     77
64     79
66     81
68     83
70     85
72     87
74     89
76     91
78     93
80     95
82     97
84     99
86    101
88    103
90    105
dtype: int64

In [ ]:
li=[1,2,3,4,5]
 #creating a series with the help of numpy
li_idx = ['a','b','c','d','e']
pd.Series(li,index=li_idx)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
# creating a series with the help of dictionary
a={'a':1,'b':2,'c':3,'d':4}
s1=pd.Series(a)
print(s1)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
s1.values

array([1, 2, 3, 4])

In [ ]:
s1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
s1.dtype

dtype('int64')

In [ ]:
#vectorised operations
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([10,20,30,40,50])
s1+s2

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [ ]:
s1+1

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [ ]:
s1**2

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [ ]:
# accessing the elements using indix
series=pd.Series(np.arange(1,13))
# we can acess the elements of the series using the limed
series[series > 5]

5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int64

In [ ]:
#from IPython.core.prefilter import PythonOpsChecker
#dataframes => a primery two dimeniaional ,table like structure used for data manipultion and analysis in PythonOpsChecker
#data => the actual values contained within the table
#row and colums
##### creating dataframes with help of dictionary
data={'name':['rahul','aman','naman'],'age':[50,50,60],'address': ['jaipur','agre','lol'],'gender':['male','female','male']}
# Corrected line for creating DataFrame with index
df = pd.DataFrame(data, index=['a','b','c'])
display(df)

    name  age address  gender
a  rahul   50  jaipur    male
b   aman   50    agre  female
c  naman   60     lol    male

In [ ]:
df['age'].mode()[0]

np.int64(50)

In [ ]:
df.loc['a']

name        rahul
age            50
address    jaipur
gender       male
Name: a, dtype: object

In [ ]:
combined_cols = pd.concat([df], axis=1)
print(combined_cols)

    name  age address  gender
a  rahul   50  jaipur    male
b   aman   50    agre  female
c  naman   60     lol    male

In [ ]:
df.loc[['a','b','c'],['name','age']]

    name  age
a  rahul   50
b   aman   50
c  naman   60

In [ ]:
#find the all rows and columns of the dataframe

In [ ]:
df['marks']

a    50
b    50
c    60
Name: marks, dtype: int64

In [ ]:
df.iloc[0:4,0]

a    rahul
b     aman
c    naman
Name: name, dtype: object

In [ ]:
df[df['age'] > 24]

    name  age address  gender
a  rahul   50  jaipur    male
b   aman   50    agre  female
c  naman   60     lol    male

In [ ]:
import numpy as np
# df---> occupation
#add a new columns occupation
df['occupation']=pd.Series(['student','working professional','nponan','student'])

In [ ]:
df

    name  age address  gender occupation
a  rahul   50  jaipur    male        NaN
b   aman   50    agre  female        NaN
c  naman   60     lol    male        NaN

In [ ]:
import numpy as np

In [32]:

data = [['rahul','math',50,'jaipur'],
        ['aman','english',60,'dehli'],
        ['naman','science',59,'agra']]
df=pd.DataFrame(data,columns=['name','subject','marks','address'])

In [33]:
df

    name  subject  marks address
0  rahul     math     50  jaipur
1   aman  english     60   dehli
2  naman  science     59    agra

In [34]:
df['new_col']=df['marks']+5

In [35]:
df['avgerage']=df['marks']
df

    name  subject  marks address  new_col  avgerage
0  rahul     math     50  jaipur       55        50
1   aman  english     60   dehli       65        60
2  naman  science     59    agra       64        59

In [14]:
df

    name  subject  marks address  new_col
0  rahul     math     50  jaipur       55
1   aman  english     60   dehli       65
2  naman  science     59    agra       64

In [37]:
avg_marks = df["marks"].mean()
print("Average Marks:", avg_marks)

Average Marks: 56.333333333333336

In [39]:
df['average marks'] = df['marks'].mean()
df

    name  subject  marks address  new_col  avgerage  average marks
0  rahul     math     50  jaipur       55        50      56.333333
1   aman  english     60   dehli       65        60      56.333333
2  naman  science     59    agra       64        59      56.333333

In [45]:
import pandas as pd
names = ['rahul','sumit','sourbh']
ages = [30,40,50]

df=pd.DataFrame(combined_data, columns=['name','age'])
df

     name  age
0   rahul   30
1   sumit   40
2  sourbh   50

In [47]:
sum = lambda x: x*x
sum(56)

3136

In [ ]:
df['classify_age']=df['age'].map

In [ ]:
df[]

In [36]:
df['Total'] = df['math'] + df['english'] + df['science']

KeyError: 'math'

In [2]:
data = [['rahul','math',50,'jaipur'],
        ['aman','english',60,'dehli'],

        ['naman','science',59,'agra']]
df2=pd.DataFrame(data,columns=['name','subject','marks','address'])

In [4]:
data = [['rahul','math',50,'jaipur'],
        ['aman','english',60,'dehli'],
        ['naman','science',59,'agra']]
df2=pd.DataFrame(data,columns=['name','subject','marks','address'])

In [26]:
df['avg_marks'] = (df['']/3)

KeyError: 'total'

In [27]:
def check(marks):
  if marks >= 150:
    return 'pass'
  else:
    return 'fail'
check(1)

'fail'

In [6]:
df2.iloc[:, ['subject','marks']]

IndexError: .iloc requires numeric indexers, got ['subject' 'marks']

In [9]:
df2['new_col']=df['age']+5

NameError: name 'df' is not defined

In [ ]:
# converting a dataframe to csv format
df.to_csv('student_data.xlsx')

In [ ]:
pandas --> read,csv,read_csv('path')
write -->to_csv--> apply on the data frame
# to_csv('filename)

In [ ]:
# converting a dataframe to csv format
df.to_excel_csv('student_data.xlsx')
print(df)

AttributeError: 'DataFrame' object has no attribute 'to_excel_csv'

In [ ]:
df=pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
# selecting the only 1 columns
df['total_bedrooms']

0        1283.0
1        1901.0
2         174.0
3         337.0
4         326.0
          ...
16995     394.0
16996     528.0
16997     531.0
16998     552.0
16999     300.0
Name: total_bedrooms, Length: 17000, dtype: float64

In [ ]:
#selecting the multiple columns using the list of the columns
#which you want show
df[['total_bedrooms',]]

In [ ]:
#to select the first row of the dataframe
# into this slicing the end included
# df.loc is used to relrive the row using the labels
# to select the multiple rows with multiple columns
df.loc[0:6]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0

In [ ]:
df.loc[0:3:1]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0

In [ ]:
df.loc[:,['housing_median_age','total_rooms','population'	]]

NameError: name 'df' is not defined

In [ ]:
#loc in padas(search in google)
df.iloc[0:4,0:4]
# df.loc access the row and columns based on interger position of the
#row and columns
#into this the silceing is the same the normal python sliceing
#end=> exclusive
#systex of the iloc --> df.iloc[row_silceing,column_sliceing]

NameError: name 'df' is not defined

In [ ]:
data=[]

In [ ]:
pd.read_csv('/content/sample_data/mnist_test.csv')
# to raed the csv file we use the

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
import pandas as pd

df=pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
import numpy as np
df.sample(10)
# df.sample is used to retrieve the random rows from the dataframe
#df.sample by defalt give any 4 random row from the datframe
# but if we n rows from the dataframe df.sample

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2738,-118.45,33.96,24.0,3097.0,791.0,1075.0,639.0,5.7230,500001.0
689,-117.70,33.68,29.0,5650.0,1084.0,3985.0,1056.0,2.8192,162500.0
2380,-118.44,34.18,36.0,2077.0,496.0,1206.0,528.0,2.2326,221000.0
344,-122.47,37.69,30.0,837.0,213.0,606.0,199.0,4.8750,258800.0
221,-121.49,38.51,30.0,3166.0,607.0,1857.0,579.0,3.1768,79500.0
293,-117.94,33.85,26.0,1888.0,429.0,1550.0,458.0,3.3393,168600.0
2340,-117.68,33.65,6.0,10395.0,1915.0,4783.0,1811.0,5.9280,239900.0
163,-117.19,34.94,31.0,2034.0,444.0,1097.0,367.0,2.1522,60800.0
2512,-122.32,38.33,17.0,851.0,118.0,370.0,123.0,5.0877,209300.0
2869,-117.43,33.55,8.0,446.0,62.0,188.0,68.0,9.4356,465600.0

In [ ]:
np.random.seed(43)

In [ ]:
df=pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
df.info()
## numerical data --> age,marks,salary
## categorcal ---> gender,custumer name

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
df.describe()
#mean = avg
# df.discribe is used to show five point summery of the data or it
# shows the statement property of the data on the numerical colums
#five point summetry
#minimun --> min -> 0th percentile
#25th percentile
#50th percentile
#75th   percentile
#max-->100 percentile
#count--> show the total number of entiles
#it shows the mean and startend

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
df.isna().sum()
#df.isna(--> return true or false by checking whether the row entry)
#is null or not-->if the row entry is the null than it return true
#if row entry is not null than it returns false
#df.isna().sum()--> it ruturn the total

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
df.fillna(df['postal code'].isna().sum()

SyntaxError: incomplete input (ipython-input-646495165.py, line 1)

In [ ]:
df.fillna(0, inplace=True)
# df.fillna is used to fill the null values with some value
#inplace = true is used to change into the original dataframe

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
df['category'].value_counts()
#to find the total number of value count of the each category of the
# categorical columns we use value_count

KeyError: 'category'

In [ ]:
df['house'].unique()

array([ 472.,  463.,  117., ..., 1392., 1475.,  992.])

In [ ]:
numerical_data = df.select_dtypes(include='float')
df.select_dtypes(exclude='float').columns
# for

Index([], dtype='object')

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
df.loc[:,['longitude','latitude']]

       longitude  latitude
0        -114.31     34.19
1        -114.47     34.40
2        -114.56     33.69
3        -114.57     33.64
4        -114.57     33.57
...          ...       ...
16995    -124.26     40.58
16996    -124.27     40.69
16997    -124.30     41.84
16998    -124.30     41.80
16999    -124.35     40.54

[17000 rows x 2 columns]

In [ ]:
df.iloc[[1],0:2]
#labal based indexing
#df.iloc m indexing

   longitude  latitude
1    -114.47      34.4

In [ ]:
import pandas as pd
data={'name': ['rahul','aman','naman'],
      'subject: []'}

SyntaxError: ':' expected after dictionary key (ipython-input-2305819961.py, line 3)

In [ ]:
df.iloc[0:3,0:2]
# while slicing the rows and colums you don't to put the indixing into squre bracket
# iloc[row_silceing,columns_sliceing]

   longitude  latitude
0    -114.31     34.19
1    -114.47     34.40
2    -114.56     33.69

In [ ]:

import seaborn as sns
df=sns.load_dataset('tips')

In [ ]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [ ]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
data.drop(['order id ','order date'], axis=1,inplace=True)
# if we want to drop any colums axis =1,list of the columns ['col1','col2']

NameError: name 'data' is not defined

In [ ]:
# for droping the rows we can pass the row index into the drop function
#axis is already 0;
data.drop(0,inplace=True)

In [ ]:
data.columns

In [ ]:
data.drop(columns=['row id','product id'],inplace=True)
# for dropping the multiple columns we use the columns = [list of cols]
# for changing into the original datafame we use inplace=true

data.drop(index=[1,2,3],inplace=True)
# for dropping the multiple rows from the data use index = [listof indexces]
   cat_df = df.select_dtype(include='catagory')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [ ]:
df['size'].mean()

np.float64(2.569672131147541)

In [ ]:
df['size'].median()

2.0

In [ ]:
df['size'].mode()

0    2
Name: size, dtype: int64

In [ ]:
d1={'A':[10,20,30],
    'B':['A','B','C']}
d2={'A':[20,30,40],
    'B':['X','Y','Z']}
df1=pd.dataframe(d1)
df2=pd.dataframe(d2)
pd.concat[(df1,df2),axis=1]

# pd.concat is used to concat the two or more dfs using the axis
# if you want to want concat the two dfs by vertically than you have to change axis to 0;
# if the columns are not same into the dfs.than the new columns will be created.
#if you want to add the two dfs than it the axis =1
#than the new df would be created with some more columns

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-3531533946.py, line 7)

In [ ]:
import pandas as pd
df=pd.read_csv('/content/Heart_Disease_Prediction.csv')

In [ ]:
df

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [ ]:
df.tail()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [ ]:
df.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [ ]:
df.sample()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
42,44,1,3,130,233,0,0,179,1,0.4,1,0,3,Absence

In [ ]:
df.columns

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [ ]:
df['Sex']

0      1
1      0
2      1
3      1
4      0
      ..
265    1
266    1
267    0
268    1
269    1
Name: Sex, Length: 270, dtype: int64

In [ ]:
df['Age'].dtype

dtype('int64')

In [ ]:
df['Age'].astype('float')
# astype is used to change the datatype of the particular columns
# .astype('data type')

0      70.0
1      67.0
2      57.0
3      64.0
4      74.0
       ...
265    52.0
266    44.0
267    56.0
268    57.0
269    67.0
Name: Age, Length: 270, dtype: float64

In [ ]:
df['age']=df['Age'].astype('float')

In [ ]:
df['Age'].astype = df['Age'].astype('int')

In [ ]:
df.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease,age
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence,70.0
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence,67.0
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence,57.0
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence,64.0
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence,74.0

In [ ]:
df['FBS over 120'].count()
# indenfity the numerical columns and categorycal columns

np.int64(270)

In [ ]:
#catagioral columns --->
cat_col=df.select_dtypes(include='object').columns
cat_col

Index(['Heart Disease'], dtype='object')

In [ ]:
# numerical columns -->
num_cols = df.select_dtypes(exclude='object').columns
num_cols

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'age'],
      dtype='object')

In [ ]:
df['Age'].min()

29

In [ ]:
df['Age'].max()

77

In [ ]:
df['Age'].av()

AttributeError: 'Series' object has no attribute 'average'